/***** BASE STYLE *****/

html,
body {
  background-color: #1f202b;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 100%;
  overflow: auto;
  width: 100%;
}

h2 {
  color: #f70074;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/***** GRID *****/

.full-width {
  clear: both;
  text-align: center;
  width: 100%;
}

.half-width {
  float: left;
  overflow: auto;
  width: 40%;
}

.third-width {
  float: left;
  overflow: auto;
  width: 33.33%;
}

/***** HEADER *****/

header p {
  padding-left: 37px;
}

header li {
  display: inline;
  padding: 21px 37px 23px 0px;;
  list-style-type: none;
}

header a:link,
header a:hover,
header a:active,
header a:visited {
  color: #ffffff;
  text-decoration: none;
}

#navigation {
  float: right;
}

header .hero {
  background-image: url("../img/hero-background.png");
  background-size: cover;
  clear: both;
  height: 726px;
  width: 100%;
}

.color {
  color: #ffcb76;
  font-size: 50px;
}

.hero #first {
  padding-top: 15%;
}

.hero #second {
  padding-left: 10%;
}

.hero p {
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    font-weight: 600;
    width: 50em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(40, end);
    animation: type 5s steps(40, end);
}

.hero p:nth-child(2) {
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type2 5s steps(40, end);
    -webkit-animation-delay: 1s;
    animation-delay: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

 @keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.hero .typing {
  animation: blink 1s infinite;
}


@keyframes blink {
  to{opacity: .0;}
}

@keyframes type2 {
  0%{width: 0;}
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}
}

@-webkit-keyframes type2 {
  0%{width: 0;}
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}
}

/***** PORTFOLIO *****/

#one,
#two {
  margin: 1% 5% 5% 5%;
}

#one img,
#two img {
  clear: both;
  margin: auto;
}

#one p {
  clear: both;
  overflow: auto;
  text-align: right;
}

/***** ABOUT *****/

#about {
  background-image: url("../img/ilya-pavlov.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
  height: 80%;
  width: 85.8%;
  padding: 1% 7.10% 10% 7.10%;
}

#about h2 {
  padding-bottom: 1%;
}

#about img {
  border: 2px solid #1f202b;
  width: 65%;
  margin: 20% 0 10% 17%;
}

#about p {
  color: #1f202b;
  font-size: 21px;
  line-height: 1.5;
  margin-top: 0;
  padding: 0 2%;
  text-align: justify;
}
