/***** BASE STYLE *****/

html,
body {
  background-color: #1f202b;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 100%;
  overflow: auto;
  width: 100%;
}

h2 {
  color: #f70074;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/***** GRID *****/

.full-width {
  clear: both;
  text-align: center;
  width: 100%;
}

.half-width {
  float: left;
  overflow: auto;
  width: 50%;
}

.third-width {
  float: left;
  overflow: auto;
  width: 33.33%;
}

/***** HEADER *****/

header {
  padding: 21px 14px 23px 37px;
}

header li {
  display: inline;
  padding: 23px;
  list-style-type: none;
}

header a:link,
header a:hover,
header a:active,
header a:visited {
  color: #ffffff;
  text-decoration: none;
}

#navigation {
  float: right;

}
